@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*
{
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
   
}
body
{   display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, white, grey);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap{
    padding:2.5em;
    text-align:center;
  }
  
  a.button{
    display:inline-block;
    font-size:1.2em;
    padding:1.2em 1.5em; 
    font-family:"Gill Sans", sans-serif;
    font-weight:700;
    letter-spacing:-1px;
    text-decoration:none;
    margin:1.2em;
    border:solid 2px #232323;
    color:#232323;
    border-radius:0.4em;
    transition:all 0.3s linear;
    animation-iteration-count: infinite;
   
  }
   
  a.button:hover{
      color:#ffffff;
      background:#232323;
      animation:none;
    }
    a.button2{
        animation-duration: 1.5s;
        animation-name: shrink;
     }
    a.button4{
        animation-duration: 0.75s;
        animation-name: jump;
        
     }




.wavy{
    text-align: center;
    position: relative;
}
.wavy span{
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 8vw;
    font-family: 'New Rocker', cursive;
    font-style: bold;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i) );

}

h5{
    margin: 0;
    padding: 25px;
    font-size: small;
    text-align: center;
    color: rgb(0, 0, 0);
}

@keyframes animate
{
    0%
    {
        transform: translateY(0px);
        -o-transform: translateY(0px); 
        -ms-transform: translateY(0px); 
        -moz-transform: translateY(0px); 
        -webkit-transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
        -o-transform: translateY(-20px); 
        -ms-transform: translateY(-20px); 
        -moz-transform: translateY(-20px); 
        -webkit-transform: translateY(-20px);
    }
    40%, 100%
    {
         transform: translateY(0px);  
         -o-transform: translateY(0px); 
         -ms-transform: translateY(0px); 
         -moz-transform: translateY(0px); 
         -webkit-transform: translateY(0px); 
    }
}


p.subtitle{
    font-family: 'Risque', sans-serif;
    font-weight: 900;
    font-size: 140%;
    margin: 0;
    padding: 30px;
    text-align: right;
}

p
{
    word-spacing: 4px;
    letter-spacing: 1px;
    color: #000;
}

.row
{
    color: #000;
    opacity: 80%; 
}

input{
    padding: 5px;
}

h1.soon
{ 
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Nova Cut', cursive;
    font-weight: 500;
    color: #000;

}
.instructions
{   padding:20px;
    margin: auto;
    font-weight: 400;
    font-size: 100%;
    color: #232323;
}


@keyframes jump {
    0% {
      transform: scale(1,1) translate(0px, 0px);
    }
    
    30%{
      transform: scale(1,0.8) translate(0px, 8px); 
    }
  

    75%{
      transform: scale(1,1.1) translate(0px, -20px); 
    }
    
   100% {
      transform: scale(1,1) translate(0px, 0px);
    }
}     

@keyframes shrink {
    0% {
      transform: scaleY(1);
    }
  
    49% {
      transform: scale(0.97, 0.97);
    }
  
   100% {
      transform: scaleY(1);
    }
  
  }

a.go{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 180px;
    height:60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    background: #262626;
    letter-spacing: 6px;
    font-size: 24px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 60px;
    border: 4px solid #000;
    box-shadow: inset 0 0 30px rgba(0,0,0,1);
    overflow: hidden;
}

a.go:before{
    content: '';
    position: absolute;
    top:0;
    left: -10px;
    width: 70%;  
    height:100%;
    background:rgba(255,255,255,.1);
    transition: .5s;
    transform: skewX(-15deg);
}
a.go:hover:before{
    left:210px;
}
a.go:after{
    content: '';
    position: absolute;
    top:0;
    left: -70px;
    width: 50px;  
    height:100%;
    background:rgba(255,255,255,.1);
    transition: .8s;
    transform: skewX(-15deg);
    transition-delay: 0.3s;   
}
a.go:hover:after{
    left:210px;
}

.box{
    justify-content: center;
    width:100%;
    margin: auto;
    padding-right: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 4px;
    background: rgba(0,0,0,1) ;
    opacity: 80%;
}

#name, #email, #phone, #pass, #confirm{
    justify-items: center;
    width:100%;
    color: #fff;
    position: relative;
    font-family: 'Milonga', cursive;
    margin: auto;
    padding-left:30px;
    padding-right: 20px;
    background: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid 2px #fff;
    outline: 0px !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
    

}

input[name="Submit"] {
  width: fit-content;
  color: white;
  text-decoration: none;
  font-family: 'Milonga', cursive;
  padding: 6px 6px;
  padding-left: 15px;
  padding-right: 15px;

} 

 
.form-group i{
  position: absolute;
  padding-top: 10px;
}