{% extends "layout.html" %}
{% block body %}
<br>
<div class="container">
    <br> <br> 
<h4 class="text-center">Ubiquitious Computing and Signal Processing Research Group </h4>

            <br><br> 
            <div class="content"> 
                <h5> Greetings from UCSP! </h5>
                <br>
           <p> Ubiquitous Computing and Signal Processing Research group is an innovative initiative from the
            department of Electronics and Communication to acknowledge the research minds
            present in students. Our motto being 'See what everyone has seen, but think
            what nobody else has thought', we aim at bringing revolutionary changes in the
            society through students. Through regular technical and non technical
            activities, we urge students to enhance their knowledge and skills. </p> </div>
</div> {% endblock %}