{% extends "layout.html" %}
{% block body %}
<br> <br> <br>
<div class="container-fluid">
    <div class="wavy">
            <br><br>
            <span style="--i:1;color: #000">L</span>
            <span style="--i:2; color: #a31e28;">o</span>
            <span style="--i:3;color: #000">c</span>
            <span style="--i:4; color: #a31e28;">k</span>
            <span style="--i:5;color: #000">d</span>
            <span style="--i:6; color: #a31e28;">o</span>
            <span style="--i:7;color: #000">w</span>
            <span style="--i:8; color: #a31e28;">n</span> 
            <span style="--i:9;">&nbsp;</span>
            <span style="--i:10;color: #000">S</span>
            <span style="--i:11;color: #a31e28;">a</span>
            <span style="--i:12; color: #a31e28;">g</span>
            <span style="--i:13;color: #a31e28;">a</span>
            <span style="--i:14;color: #000">!</span>
            <span style="--i:15;color: #000">!</span>
    </div>
    <p class="subtitle">Rejuvenation beyond boredom...</p>
    <br><br><br><br>
    <h5>Hosted by UCSP, Dept of ECE, NIE</h5>
</div>
{% endblock %}