<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/c/0/c0g0poqz50.ico" type="image/x-icon" />
    <title>UCSP | Lockdown Saga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <style>
      body {
        outline: none;
      }

      .message {
        color: green;
      }

      .info {
        color: red;
      }
      .error{
        color: red;
        font-size: x-small;
       
      }

      input{
        width: 100%;
        height: 38px;
        -webkit-box-sizing: 10px;
        -moz-box-sizing: 10px;
        box-sizing: border-box;
      }

      ::-webkit-input-placeholder 
      { 
        padding: 0.8em;
      }

    </style>
  <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Belgrano&family=Berkshire+Swash&family=Emilys+Candy&family=Kotta+One&family=Montserrat+Subrayada:wght@700&family=Nova+Cut&family=Nova+Script&family=Philosopher:wght@700&family=Salsa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coustard|Kavoon|Metal+Mania|Nova+Cut|Risque|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coustard&family=Ubuntu&family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Amita:wght@700&family=Berkshire+Swash&family=Fontdiner+Swanky&family=Gorditas&family=Inknut+Antiqua&family=Leckerli+One&family=Lily+Script+One&family=Marko+One&family=Milonga&family=New+Rocker&family=Norican&family=Oleo+Script+Swash+Caps&family=PT+Serif+Caption&family=Rochester&family=Slackey&family=Sofia&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="font-family: 'Inknut Antiqua', serif; font-weight: bold;" class="navbar-brand text-dark" href="{{url_for('home')}}">UCSP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse w-100 order-3" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a  style="font-family: 'PT Serif Caption', serif; font-weight: bold;" class="mr-3 nav-link text-dark" href="{{url_for('home')}}">Home</a>
            </li>

            <li class="nav-item">
              <a  style="font-family: 'PT Serif Caption', serif; font-weight: bold;" class="mr-3 nav-link text-dark" href="{{url_for('about')}}">About us</a>
            </li>
              <li class="nav-item">
                <a style="font-family: 'PT Serif Caption', serif; font-weight: bold;" class="mr-3 nav-link text-dark" href="{{url_for('register')}}">Register</a>
              </li>
              
          </form>
        </div>
    </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <p class="text-center mt-4 {{ category }}">{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block body %}
    {%endblock %}
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>